{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'css/style.css' %} ">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- validate -->
<!-- <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

<style type="text/css">
    a:hover {
     cursor:pointer;
    }
    .hospital_image {
      width: 102px;
      height: 111px;
      margin-top: 2%;
      border: 1px solid #227cfb;
  }
  </style>

<div class="table-responsive dasboard_table">
    <h1 style="text-align: center;">Profile Update</h1>          
    <table class="table" id="showSearchResult">
      <thead>
        <tr>
          <th class="dashboard_th" style="width: 10%;">Image</th>
          <th class="dashboard_th">Name</th>
          <th class="dashboard_th">Username</th>
          <th class="dashboard_th">email</th>
          <th class="dashboard_th">Phone Number</th>
          <th class="dashboard_th" style="width: 25%;">Comments</th>
          <th class="dashboard_th">Edit</th>
          <th class="dashboard_th">Delete</th>
         
        </tr>
      </thead>
      <div class="col-md-8 col-sm-12" id="record_not" style="display:none;float:right;"></div>
      <tbody class="dashboard_p">
       
         {% for data1 in users %}
        <tr>
           <td> {% if data1.profile_image %}
               <div class="hospital_image">
                <img src="/media/{{data1.profile_image }}" style="width: 100%;height:100%;">
                </div>
            {% else %}
            <div class="hospital_image">
                <h5>No Image</h5>
            </div>
            {% endif %}
            </td>
           <td><p value="{{ data1.name }}">{{ data1.name}}</p></td>
           <td><p>{{ data1.username}}</p></td>
           <td><p>{{ data1.email}}</p></td>
           <td><p>{{ data1.phone_no}}</p></td>
           <td><p class="nextline">{{ data1.comments }}</p></td>
           <td style="text-align:center;">
              <a onClick="editUser({{data1.id}})" data-toggle="modal" data-target="#myModal")"><i class="fas fa-edit editbutton" ></i></a>
           </td>
           <td style="text-align:center;">
              <a onClick="deleteUser({{data1.id}})" href="javascript:;"><i  style="color: #dc3545;" class="fa fa-trash-alt deletebutton" aria-hidden="true"></i></a>
           </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
  <!-- <-- Modal Update--> 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h4 class="modal-title" id="myModalLabel">Profile Update </h4>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <form id="updateUser" class="updateuserdata" action="" method="post" enctype="multipart/form-data">
           {% csrf_token %}
           <div class="modal-body">
              <input class="form-control" id="form-id" type="hidden" name="formId"/>
              <img src="" id="form-profile_image" name="formProfle_Image" class="hospital_image imageshow"><br>
              <input class="input_image" type="file" name="profile_image" >
              <br>
              <div class="row">
                 <div class="col-md-6 col-sm-12">
                    <label for="name">Name</label>
                    <input class="form-control" id="form-name" type="text" name="formName">
                 </div>
                 <div class="col-md-6 col-sm-12">
                    <label for="username">Username</label>
                    <input class="form-control" id="form-username" type="text" name="username" required="" />
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-6 col-sm-12">
                    <label for="email">Email</label>
                    <input class="form-control" id="form-email" type="email" name="email" required="">
                 </div>
                 <div class="col-md-6 col-sm-12">
                  <label for="phone_no">Phone Number</label>
                  <input class="form-control" id="form-phone_no" type="text" name="formPhone_no" title="Please use a 10 digit mobile number" pattern="[1-9]{1}[0-9]{9}">
               </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label for="address">Comments</label>
                    <textarea rows="2" cols="10" class="form-control" id="form-comments" type="text" name="formComments"/></textarea>
                </div>
              </div>
              <br>
               <div class="row">
                  <div class="col-md-3 col-sm-12">
                     <button type="submit" class="btn btn-success hospital_add_button">Submit</button>
                  </div>
                  <div class="col-md-9 col-sm-12">
                     <p id="success_message" class="success_message">Succesfully updated</p>
                  </div>
               </div>
              <div class="modal-footer">
                 <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
              </div>
           </div>
        </form>
     </div>
  </div>
</div>
<!--Update End -->
<script>
 $.validator.messages.remote = "{0} is already in use";
$("#updateUser").validate({
      errorElement: "span",
       rules: {
    formPhone_no: {
        digits: true,
        minlength: 10,
        maxlength: 10,
      },
   email: {
         required: true,
         email: true,
         remote: "{% url 'user_validate' %}",
         
    },
   username:{
           required:true,
           remote: "{% url 'user_validate' %}"
        },
   messages: {
    formPhone_no: {
        digits: "Please enter valid phone number",
        minlength: "Phone number field accept only 10 digits",
        maxlength: "Phone number field accept only 10 digits",
        },
    email: {
            required: "Please enter your email address.",
            email: "Please enter a valid email address.",
            remote: "Email already in use!"
        },
        username:{
            required: "Please enter your username .",
            remote: "Username already in use!"
        }
    },
   }
        
    })
//  Update
function editUser(id) {
	$.ajax({
		type: 'GET',
		url: '{% url "update_get_profile" %}',
		data: {
			'id': id,
			csrfmiddlewaretoken: jQuery("[name=csrfmiddlewaretoken]").val()
		},
		dataType: 'json',
		success: function (data) {
            jsondata = JSON.parse(data)
			if (jsondata) {
				id = jsondata.id;
				profile_image = jsondata.profile_image;
                if (profile_image){
                    image = '/media/'+profile_image
                    console.log("image",image)
                }else{
                    image = profile_image
                    console.log("else",image)
                }
				name = jsondata.name;
				username = jsondata.username;
				email = jsondata.email;
				phone_no = jsondata.phone_no;
				comments = jsondata.comments;
				$('#form-id').val(id);
				$('#form-profile_image').attr('src',image);
				$('#form-name').val(name);
				$('#form-username').val(username);
				$('#form-email').val(email)
				$('#form-phone_no').val(phone_no);
				$('#form-comments').val(comments);

			}
		}
	});
}
// Delete Django Ajax Call swal
function deleteUser(id) {
   swal({
      title: "Are you sure?",
      text: "You will not be able to recover this record !",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "Yes, delete it!",
      closeOnConfirm: false,
      closeOnCancel: true
   },
   function(isConfirm){
      if (isConfirm) {
      $.ajax({
         url: '{% url "delete_profile" %}',
         data: {'id': id},
         dataType: 'json',
            success: function (data) {
               window.location.reload();
               swal("Done!","It was succesfully deleted!","success");
            }
      });
      }else{
            swal("Cancelled", "Your imaginary file is safe :)", "error");
      } 
   })
}
$("form.updateuserdata").submit(function (e) {
	e.preventDefault();
	$form = $(this)
	var formData = new FormData(this);
	$.ajax({
		type: 'POST',
		url: '{% url "update_get_profile" %}',
		data: formData,
		processData: false,
		contentType: false,
		dataType: 'json',
		success: function (data) {
         $('#success_message').fadeIn();
         setTimeout(function() {
				setTimeout(function() {
					$('#success_message').fadeOut("slow");
				}, 2000);
         window.location.reload();
         },1000);
		}
	});
	$('form#addUser').trigger("reset");
	return false;
});
// <!-- Image Display -->
	function readURL(input) {
		console.log(true)
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function (e) {
				$('.imageshow').attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}
</script>